.card-image-container {
  width: 300px;
  margin: 50px auto; /* This centers the card horizontally */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
}

.card-image {
  width: 100%; /* Full width of the container */
  border-radius: 10px 10px 0 0; /* Rounded corners on the top */
  margin-bottom: 20px;
}

/* Style the name */
.card-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

/* Style the email */
.card-email {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

/* Style the about section */
.card-about {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

/* Style the subjects section */
.card-subjects {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

/* Add spacing around the text */
.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Matches button styling */
.matchButton {
  padding: 10px 20px;
  background-color: #084887;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.matchButton:hover {
  background-color: #86eae5;
}
