.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #084887;
  padding: 10px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon a {
  font-size: 2rem;
  color: #cac4ce;
  transition: color 0.3s ease;
}

.footer-icon a:hover {
  color: #4f757d;
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }

  .footer-icon a {
    font-size: 1.5rem;
  }
}
