.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
}

.footer-icon {
  font-size: 24px;
  color: black;
  cursor: pointer;
}
